body {
  background-color: #001f1e;
  color: #b9fff3;
}

.clr-blue {
  color: #001f1e !important;
}

.clr-aqua {
  color: #b9fff3 !important;
}

.header{
  width: 100%;
  height: 70px;
}

.user{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.btn--newTask{
  width: 80%;
  height: 50px;
  font-size: 20px;
  background-color: #48a521;
  color: #b9fff3;
}

.btn--initializeTask{
  width: 80%;
  height: 50px;
  font-size: 20px;
  background-color: #008B8B;
  color: #b9fff3;
}

.btn--newTask:hover, .btn--initializeTask:hover {
  background-color: #b9fff3; color: #001f1e;
}

.filter > ul {
  font-size: 20px;
}
.filter> ul > li {
  cursor: pointer;
}

.filter--label ul>li:nth-child(1) > i{
  color: #389E0D ;
}
.filter--label ul>li:nth-child(2) > i{
  color: #722ED1 ;
}
.filter--label ul>li:nth-child(3) > i{
  color: #13C2C2 ;
}
.filter--label ul>li:nth-child(4) > i{
  color: #CF1322  ;
}

table td, table th {
  vertical-align: middle!important;
}

.table thead th {
  border-top-width: 2px;
}

.modal .modal-content {
  background-color: #ffffff;
  color: #001f1e;
}